<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Asset management admin</title>
        <meta name="viewport" content="width=device-width">
        <%= stylesheet_link_tag "application" %>
    </head>
    <body ng-app="myApp" ng-strict-di>
        <div ui-view></div>
        <%= javascript_include_tag "application" %>
    </body>
</html>
